.error--msg {
  color: red;
  font-size: 14px;
}

pre {
  color: #fff;
  font-size: 14px;
}

.register--success {
  color: #fff;
  background-color: #4caf50 !important;
  padding: 16px;
  border-radius: 10px;
}
