.navbar nav {
  background-color: #1a1f38;
  width: 100%;
  border-bottom: 1px solid black;
}

.navbar ul .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar a {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  color: #e4e4e4;
  text-decoration: none;
}

#hamburger-icon {
  color: #fff;
  display: none;
}

.wrap--nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap--nav-items > a {
  color: #ff0000;
}

/* .responsive-sidebar {
  visibility: hidden;
  opacity: 0;
} */

.sidebar {
  position: absolute;
  top: 90%;
  left: 0;
  background-color: #fff;
  color: black;
  /* width: 400px; */
  width: 270px;
  height: 100vh;
  border: none;
  /* border-radius: 5px; */
  /* visibility: hidden;
  opacity: 0; */
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 10000;
  padding: 20px;
  transition: 0.2s ease-in;
  transform: translate3d(-100%, 0.5%, 0);
}

#close--sidebar {
  position: absolute;
  top: 0;
  right: 0;
  color: #1a1f38;
  /* display: none; */
}

@media screen and (min-width: 750px) {
  .sidebar {
    display: none;
  }
}


@media screen and (max-width: 730px) {
  #hamburger-icon {
    display: flex;
  }
  .navbar .nav--item {
    display: none;
    padding: 20px;
  }

  .navbar ul {
    padding:10px 30px;
  }
  
}

@media screen and (max-width: 450px) {
  .sidebar {

    width: 230px;
  }
}

/* @media screen and (max-width: 800px) {
  
} */

/* @media screen and (max-width: 1725px) {
  .navbar ul {
    width: 95%;
  }
} */
