@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url('./assets/fonts/bpg_nino_mtavruli_bold.ttf');
}

:root {
  --font-name: 'BPG Nino Mtavruli';
}

body {
  margin: 0;
  background: #1a1f38;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
button,
textarea {
  font-family: var(--font-name);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form::after {
  background: url('./assets/images/bg.jpg');
  position: absolute;
  content: '';
  filter: brightness(0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
